.field.form-group
  input
    min-height: $select2-min-height
  /* fix width for date-input with errors */
  .input-group.date.datepicker
    input
      width: 100%
    span.input-group-addon
      position: relative
      right: 0

.form-group-with-select2
  span.select2-container
    li.select2-results__option--highlighted
      background: $multiple-select2-background-highlighted

span.select2-results
  li.select2-results__option[aria-selected='true']
    background: $multiple-select2-background-selected

span.select2-selection.select2-selection--single
  min-height: $select2-min-height
  // span.select2-selection__rendered

li.select2-selection__choice
  &:hover
    background-color: $main-color !important
    color: $color-ivory !important
    transition: color $transition-color-duration
    transition: background-color $transition-color-duration
