////////// forms  /////////////
.field.form-group
  input:not(.check-input)
    min-height: $select2-min-height
  /* fix width for date-input with errors */
  .input-group.date
    width: 100%
    // .field_with_errors
  // .input-group.date.datepicker
  //   padding: 0



// .ui-d.ui-datepicker .ui-datepicker-prev,
// .ui-datepicker .ui-datepicker-next {
//   position: absolute;
//   top: 2px;
//   width: 1.8em;
//   height: 1.8em;
// }




////////// select2  /////////////
.form-group-with-select2
  span.select2-container
    li.select2-results__option--highlighted
      background: $multiple-select2-background-highlighted

span.select2-results
  li.select2-results__option[aria-selected='true']
    background: $multiple-select2-background-selected

span.select2-selection.select2-selection--single
  min-height: $select2-min-height
  // span.select2-selection__rendered

li.select2-selection__choice
  &:hover
    background-color: $main-color !important
    color: $color-ivory !important
    transition: color $transition-color-duration
    transition: background-color $transition-color-duration


////////// show forms //////////////
dl.show-entity
  padding-left: 15px
  padding-right: 15px
  dd
    margin-bottom: 4px
    display: flex
    align-items: center
    min-height: 30px
    border-radius: 7px
    background: $color-white



.download-file-link
  margin: 3px
