.field.form-group
  input
    min-height: 40px
  /* fix width for date-input with errors */
  .input-group.date.datepicker
    input
      width: 100%
    span.input-group-addon
      position: relative
      right: 0

.form-group-with-select2
  span.select2-container
    li.select2-results__option--highlighted
      background: $multiple-select2-background-highlighted

span.select2-results
  li.select2-results__option[aria-selected='true']
    background: $multiple-select2-background-selected
