%hr/

%h1 Dashboard
%section.row.text-center.placeholders
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=", :width => "200"}/
    %h4 Label
    .text-muted Something else
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=", :width => "200"}/
    %h4 Label
    %span.text-muted Something else
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=", :width => "200"}/
    %h4 Label
    %span.text-muted Something else
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=", :width => "200"}/
    %h4 Label
    %span.text-muted Something else
%h2 Section title

%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
%br
Welcome
