= link_to( document.doc_file_name , document.doc.url )
= link_to( (fa_icon "download", text: 'download', right: true), download_file_document_path(document), |
  {class: 'badge badge-primary' })                                                                     |
