%h1= t('views.entites.workers.edit.title')

= render 'form'

%div.mt-3
  = link_to_show(@worker)
  \|
  = link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), workers_path, class: 'btn btn-secondary'
