/*  general colors */
$main-color-dark:            #06397d
$main-color-contrast:        #facb66
$main-color:                 #82add6
$main-color-light:           #e4e9f4
$main-color-contrast-dark:   #911f1e

/* additional colors */
$color-white: #ffffff

/* block's variables */
$body-bg: $main-color-light

$header-color: $main-color-dark
$header-height: 60px

$sidebar-color: lighten($main-color-dark, 10%)
$sidebar-spacer-color: lighten($sidebar-color, 15%)
$sidebar-toggler-size: 40px
$sidebar-toggler-top-offset: 3px
$sidebar-item-height: 35px

/* element's colors */
$link-color:                 $main-color-contrast
$link-hover-color:           $main-color-contrast-dark


/* other variables */
//calc(100% - $header-height) не работает!
$wrapper-height: calc(100% - (#{$header-height}))
// $wrapper-height: calc(100% - (100px))
