/*  general colors */
$main-color:                 #486693
$main-color-light:           #6985AE
$main-color-dark:            #2D4C79
$main-color-contrast:        #42758D
$main-color-contrast-dark:   #295C74

/* additional colors */
$color-white: #ffffff
$color-ivory: #fffff0
$color-midnight-blue: #191970
$color-gray: rgb(152, 152, 152)

/* block's variables */
$body-bg: #f2f2f2

$header-color-bg: $main-color-dark
$header-height: 60px

$non-wrapper-links:        $color-ivory
$non-wrapper-links-hover:  $color-midnight-blue


$sidebar-color-bg: $main-color
$sidebar-spacer-color-bg: lighten($main-color, 7%)
$sidebar-toggler-size: 40px
$sidebar-toggler-top-offset: 3px
$sidebar-item-height: 35px

$breadcrumb-color: $main-color-dark
$breadcrumb-color-hover: $main-color-light

/* element's colors */
$multiple-select2-background-highlighted: $main-color-dark
$multiple-select2-background-selected: $main-color-light
// $link-color:                 $color-ivory
// $link-hover-color:           $color-midnight-blue

/* other variables */
$jquery-datepicker-background:    #dae4ee
$jquery-datepicker-tbody-link-background-color: #B0C3D6
$jquery-datepicker-tbody-link-background-hover-color: #C5F1E7
$jquery-datepicker-tbody-link-color: #212529
$jquery-datepicker-tbody-link-hover-color: #212529
$select2-min-height: 40px
$transition-color-duration: 0.09s
//calc(100% - $header-height) не работает!
$wrapper-height: calc(100% - (#{$header-height}))
// $wrapper-height: calc(100% - (100px))
