%header.mb-5
  %nav.navbar.navbar-default
    %div.container-fluid
      %div.navbar-header
        = link_to( (image_tag('logo.png', size: "60x60",
        class: 'rounded-circle')), root_path, {class: 'navbar-brand'})
        = Rails.application.class.parent_name
      %div
        %ul.nav
          %li.nav-item
            -# = link_to('people', people_path, {class: 'nav-item nav-link'})
            = link_to('root', root_path, {class: 'nav-item nav-link'})
          %li.nav-item
            = link_to('root', root_path, {class: 'nav-item nav-link'})
            -# = link_to('documents', documents_path, {class: 'nav-item nav-link'})
